/* Header */

.header {
  width: 100%;
  height: 77px;
  padding: 18px 0;
  position: absolute;
  left: 0;
  top: 0;

  background-color: #fff;
  border-bottom: 1px solid #D8E3FE;
  z-index: 90;
}

.header_fixed {
  position: fixed;
}

.header_fixed_visible {
  animation: show-header .15s ease-in;
  animation-fill-mode: both;
}

.header_fixed_hidden {
  animation: hide-header .15s ease-in;
  animation-fill-mode: both;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
}

.header__col_start {
  justify-content: flex-start;
  align-items: center;
}

.header__col_end {
  justify-content: flex-end;
  align-items: center;
}

.header__logo {
  margin-right: 70px;
}

.header__nav-link {
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-decoration: none;
  color: #697CA6;
}

.header__nav-link:not(:last-child) {
  margin-right: 40px;
}

.header__nav-link:hover {
  color: #5E81FE;
}

.header__social {
  display: flex;
  margin-right: 40px;
}

.header__social-link {
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.header__social-link:not(:last-child) {
  margin-right: 24px;
}

.header__social-link svg {
  width: 16px;
  height: 16px;
  display: block;
  object-fit: contain;
}

.header__social-link:hover svg path {
  fill: #6188FF;
}

.header__get-started-link {
  text-decoration: none;
}

.header__menu {
  display: none;
}

.header__menu-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  visibility: hidden;
  transition: background-color 250ms ease-out;
  z-index: 90;
}

.header__menu-overlay_visible {
  visibility: visible;
  animation: show-overlay .2s ease-out;
  animation-fill-mode: both;
}

.header__menu-overlay_hidden {
  visibility: visible;
  animation: hide-overlay .2s cubic-bezier(0.41, 0.15, 0, 0.74);
  animation-fill-mode: both;
}

.header__menu-overlay:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.header__menu-content {
  height: 100vh;
  padding: 18px 30px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .1);
  visibility: hidden;
  overflow-y: auto;
  z-index: 100;
}

.header__menu-content_visible {
  visibility: visible;
  animation: show-menu .2s ease-out;
  animation-fill-mode: both;
}

.header__menu-content_hidden {
  visibility: visible;
  animation: hide-menu .2s cubic-bezier(0.41, 0.15, 0, 0.74);
  animation-fill-mode: both;
}

.header__menu-nav {
  margin: 20px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.header__menu-nav-item {
  padding: 12px 0;
}

.header__menu-nav-link {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  text-decoration: none;
  color: #697CA6;
}

.header__menu-nav-link:hover {
  color: #5E81FE;
}

.header__menu-social {
  display: flex;
  margin-top: 30px;
}

.header__menu-get-started {
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {

  .header__logo {
    margin-right: 50px;
  }

  .header__nav-link:not(:last-child) {
    margin-right: 20px;
  }

  .header__social {
    margin-right: 30px;
  }

}

@media screen and (max-width: 991px) {

  .header__nav,
  .header__social,
  .header__get-started-link {
    display: none;
  }

  .header {
    height: 65px;
    padding: 12px;
  }

  .header__col_start {
    width: 100%;
  }

  .header__menu {
    display: block;
  }

}

@media screen and (max-width: 480px) {

  .header {
    height: 57px;
    padding: 8px;
  }

}

@keyframes show-menu {

  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }

}

@keyframes hide-menu {

  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }

}

@keyframes show-overlay {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes hide-overlay {

  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@keyframes show-header {

  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }

}

@keyframes hide-header {

  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }

}
