/* Plan and manage */

.plan-and-manage {
  padding: 170px 0;
  background-color: #F5F8FF;
  overflow: hidden;
}

.plan-and-manage__wrapper {
  position: relative;
}

.plan-and-manage__text {
  width: calc(50% - 55px);
  margin-bottom: 50px;
}

.plan-and-manage__image {
  width: 62%;
  height: auto;
  padding: 50px;
  position: absolute;
  top: calc(50% + 20px);
  right: -80px;
  transform: translateY(-50%);

  object-fit: contain;
  object-position: center;
  filter: drop-shadow(0 30px 50px #d1daf0); 
}

.plan-and-manage__controls {
  display: flex;
}

.plan-and-manage__link-video {
  margin-right: 5px;
  text-decoration: none;
}

.plan-and-manage__link-features {
  text-decoration: none;
}

@media screen and (max-width: 991px) {

  .plan-and-manage {
    padding: 70px 0;
  }

  .plan-and-manage__text {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .plan-and-manage__image {
    width: 70%;
    height: auto;
    padding: 30px;
    position: relative;
    top: unset;
    right: unset;
    transform: unset;

    display: block;
    margin: 0 auto;
  }

  .plan-and-manage__controls {
    justify-content: center;
  }

}

@media screen and (max-width: 480px) {

  .plan-and-manage {
    padding: 50px 0;
  }

  .plan-and-manage__image {
    width: 100%;
    margin: 30px 0;
    padding: 15px;
  }

}