.button {
  display: block;
  padding: 12px 25px;

  font-size: 13px;
  font-weight: bold;
  line-height: 1rem;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  border: none;
  outline: none;
  border-radius: 2px;

  cursor: pointer;
  appearance: none;
  transition: background-color .15s ease;
}

.button_color_blue {
  color: #3A79FF;
  background-color: #D2E1FF;
}

.button_color_blue:hover {
  background-color: #c2d6ff;
}

.button_color_dark-blue {
  color: #fff;
  background-color: #4C85FF;
}

.button_color_dark-blue:hover {
  color: #fff;
  background-color: #4277e9;
}

.button_color_red {
  color: #D43F3F;
  background-color: #FFD7D7;
}

.button_color_red:hover {
  background-color: #f8b6b6;
}

.button_color_gray {
  color: #7382A3;
  background-color: #E8ECF4;
}

.button_color_gray:hover {
  background-color: #d6deee;
}

.button_color_white {
  color: #A6B6DA;
  background-color: #fff;
}

.button_color_white:hover {
  background-color: #f8f8f8;
}

.button_color_transparent {
  color: #ADB4D2;
  border: 1px solid #D1D1E4;
  transition: background-color .15s ease;
}

.button_color_transparent:hover {
  background-color: rgba(0,0,0,0.03);
}

.button_type_text-icon {
  padding-right: 36px;
  background-position: calc(100% - 16px) 50%;
}

.button_type_icon {
  width: 40px;
  height: 40px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
}

.button_type_img {
  position: relative;
}

.button_type_img svg,
.button_type_img img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  object-position: center;
}

.button_type_circle {
  border-radius: 50%; 
}

.button_size_large {

}

.button_icon_arrow-left {

}

.button_icon_arrow-right {

}

.button_icon_play {
  background-image: url(../images/play.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

.button_icon_play-white {
  background-image: url(../images/play-white.svg);
  background-repeat: no-repeat;
  background-size: 12px 12px;
}

.button_icon_burger {
  background-image: url(../images/burger.svg);
  background-position: 50% calc(50% + 3px);
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.button_icon_close {
  background-image: url(../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

@media screen and (max-width: 991px) {

  .button {
    padding: 10px 14px;
  }

  .button_type_text-icon {
    padding-right: 32px;
    background-position: calc(100% - 16px) 50%;
  }

}

@media screen and (max-width: 480px) {

  .button {
    padding: 8px 12px;
  }

  .button_type_text-icon {
    padding-right: 28px;
    background-position: calc(100% - 12px) 50%;
    background-size: 10px 10px;
  }

}
