html {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.no-scroll {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.page {
  min-height: 100vh;
  padding-top: 77px;
  position: relative;
  background-color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 120px 0;
}

.logo {
  width: 26px;
  height: 26px;
  margin-right: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: block;
  object-fit: contain;
  object-position: center;
}

.subtitle {
  margin: 10px 0;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  text-transform: uppercase;
  color: #3D4F9F;
}

.title {
  font-weight: 500;
  color: #3D4F9F;
}

.title_md {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.title_l {
  margin: 32px 0;
  font-size: 2.25rem;
  line-height: 2.8rem;
}

.title_xl {
  margin: 30px 0;
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.75rem;
}

.desc {
  margin: 20px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: #8D96BD;
}

.thin {
  font-weight: 300;
}

@media screen and (max-width: 1199px) {



}

@media screen and (max-width: 991px) {

  .page {
    padding-top: 65px;
  }

  .section {
    padding: 70px 0;
  }

  .subtitle {
    margin: 8px 0;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.85rem;
    }

  .title_md {
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
  }
  
  .title_l {
    margin: 32px 0;
    font-size: 2.25rem;
    line-height: 2.8rem;
  }

  .title_xl {
    margin: 24px 0;
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .desc {
    margin: 16px 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

}

@media screen and (max-width: 480px) {

  .page {
    padding-top: 57px;
  }

  .section {
    padding: 50px 0;
  }

  .subtitle {
    margin: 6px 0;
  }

  .title_md {
    margin: 16px 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.875rem;
  }
  
  .title_l {
    margin: 20px 0;
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .title_xl {
    margin: 24px 0;
    font-size: 2.25rem;
    line-height: 3rem;
  }

  .desc {
    margin: 12px 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

}
